html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}


header {
  background-color: rgb(244, 143, 205);
  height: 55px;
  z-index: 100;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

header img {
  width: 30px;
  height: 30px;
  padding: 10px;
}

.menu-container {
  display: flex;
  gap: 15px;
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.menu-container .menu-item-1,
.menu-container .menu-item-2,
.menu-container .menu-item-3 {
  font-size: 12px;
  font-family: Montserrat, Arial;
  cursor: pointer;
}

.menu-item-1:hover,
.menu-item-2:hover,
.menu-item-3:hover {
  color: white;
  text-decoration: underline;
}

h1 {
  font-family: Archivo, Arial;
  font-size: 24px;
}

p {
  font-family: Montserrat, Arial;
  font-size: 12px;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pille-r-priske-Y1JjwhHaPRM-unsplash.jpg);
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin-top: 30px;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;

}

.hero-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: rgb(202, 37, 139);
  background-color: rgb(244, 143, 205);
  font-weight: bold;
  cursor: pointer;
}

.right-image-layout,
.left-image-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.left-image-layout {
  flex-direction: row-reverse;
}

.right-image-layout img,
.left-image-layout img {
  object-fit: cover;
  height: 500px;
  width: 50%;
}

.text {
  flex: 2;
  margin-right: 100px;
}

.left-image-layout .text {
  margin-left: 100px;
}

